p {
    margin-bottom: 0;
}

img {
    border-radius: 2rem;
    width: 6rem;
    height: 6rem!important;
    object-fit: cover;
}

body { 
    padding-top: 56px;
    background-color: var(--bs-gray-200);
}

.mb-4 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem!important;

}

.mb-5 {
    margin-bottom: 1rem!important;
}
button.btn.btn-sm {
    margin-top: 0.5rem;
}

.row {
    border-radius: 0.25rem;
    border: 1px solid transparent;
    margin: 1rem;
    background-color: white;
    box-shadow: 0.3rem 0.3rem 4px var(--bs-gray-300);
}

.slide-right {
transform: translateX(100%);
transition: all 0.5s ease-in-out;
}

.slide-right.show {
transform: translateX(0);
}