p {
    margin-bottom: 0;
}

img {
    border-radius: 2rem;
    width: 6rem;
    height: 6rem!important;
    object-fit: cover;
}

body { 
    padding-top: 56px;
}

.mb-4 {
    margin-top: 1.5rem;
}

.row {
    border-radius: 0.25rem;
    border: 1px solid transparent;
    border-color: #ffc107;
    margin: 0.2rem;
}

.slide-right {
transform: translateX(100%);
transition: all 0.5s ease-in-out;
}

.slide-right.show {
transform: translateX(0);
}